*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-main-default: #216b7b;
  --clr-main-light: #29788a;
  --clr-text-default: #484848;
  --clr-text-main: var(--clr-main-default);
  --clr-bg-light: #f3f3f3;
  --clr-bg-default: linear-gradient(
    90.18deg,
    #216b7b 2%,
    rgba(33, 107, 123, 0.9) 100%
  );
}

html,
body {
  width: 100vw;
  height: 100vh;
}

div#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  background-color: var(--clr-bg-light);
  color: var(--clr-text-default);
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input[type="button"] {
  font-family: inherit;
  font-size: 1rem;
  font-weight: inherit;
  border: none;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
}

input,
textarea {
  font-family: inherit;
  font-size: 1rem;
  border: none;
}
